.CreateTodoButton{

    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    display: block;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: rotate(0);
    transition: .3s ease;
}

.CreateTodoButton:hover{
    background-color: #218838;
    transform: rotate(360deg);
}